# Compiled binary files
*.o
*.exe

# Archives
*.zip

# System files
.DS_Store
Thumbs.db

# Python cache
__pycache__/
*.pyc

# Ignore non-C++ files inside any submission/ directory
**/submission/*
!**/submission/*.cpp
